@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 0 0% 18%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 95%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 25.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 1rem;
    --sidebar-background: 0 0% 96%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240, 20%, 5%;
    --foreground: 0 0% 90%;
    --card: 240, 20%, 7%;
    --card-foreground: 0 0% 98%;
    --popover: 240, 20%, 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0, 0%, 100%, 0.05;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --sidebar-background: 240, 20%, 5%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Onest Variable", sans-serif;
  }

  button {
    @apply cursor-default;
  }

  h1 {
    @apply text-foreground;
  }

  ::-webkit-scrollbar {
    @apply w-[0.3rem];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-gray-500 rounded-md;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-purple-700 via-purple-500 to-purple-400 text-transparent bg-clip-text relative;
  }

  .gradient-background {
    @apply bg-gradient-to-br from-purple-600 via-violet-500 to-fuchsia-500  text-white;
    background-size: 200% 200%;
    animation: gradientShift 15s ease infinite;
  }

  .cta-background-gradient {
    @apply bg-gradient-to-br from-purple-600 to-indigo-700;
  }

  .grid-template-cols {
    @apply grid gap-4;
    grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
  }

  .error-text {
    @apply text-xs text-red-400;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
